<h1>My Friends</h1>
<table class="uk-table uk-table-striped uk-table-hover">
  <thead>
  <tr>
    <th>Name</th>
    <th>&nbsp;</th>
    <th>&nbsp;</th>
  </tr>
  </thead>

  <tbody>
  <% @friends.each do |friend|%>
      <tr>
        <td><%= get_friend(friend).username%></td>
        <td><%= link_to 'View our games', users_games_with_friend_path(user_id: get_friend(friend).id) %></td>
        <td><%= button_to 'Invite', partnerships_path(user2_id: get_friend(friend).id), class: "uk-button uk-button-small" %></td>

      </tr>
  <% end %>
  </tbody>
</table>

<%= link_to 'Invite a new friend', users_index_path %>