<h1>My current games</h1>

<table class="uk-table uk-table-striped uk-table-hover">
  <thead>
  <tr>
    <th>Game</th>
	<th>Statistics</th>
    <th>&nbsp;</th>
  </tr>
  </thead>

  <tbody>
      <tr>
        <td>Put a picture of the game status here</td>
		<td>Show the game statistics here</td>
        <td>Put a button here to show the gameboard</td>
      </tr>
  </tbody>
</table>

<%= link_to 'Back', welcome_home_path %>