<h1>Listing Users</h1>
<table class="uk-table uk-table-striped uk-table-hover">
  <thead>
  <tr>
    <th>&nbsp;</th>
    <th>Name</th>
    <th>&nbsp;</th>
  </tr>
  </thead>

  <tbody>
  <% @users.each do |u|%>
      <tr>
	    <td><%= image_tag u.image_url(:thumb) if u.image?%></td>
        <td><%= u.username%></td>
        <td><%= button_to 'Invite', partnerships_path(user2_id: u.id), class: "uk-button uk-button-small" %></td>

      </tr>
  <% end %>
  </tbody>
</table>

<%= link_to 'Back', welcome_home_path %>
