<h1>Welcome!</h1>

<div class="uk-alert">
  Please create an account or log in if you are already signed up!
</div>

<div class="uk-width-1-1">You can view the chess rules <%= link_to('here', "/chess_rules.html", :target => "_blank")%>.</div>
