<h1>Chess Rules</h1>
<p>
  The player controlling the white pieces is named "White"; the player controlling the black pieces is named "Black". White moves first, then players alternate moves. Making a move is required; it is not legal to skip a move, even when having to move is detrimental. Play continues until a king is checkmated, a player resigns, or a draw is declarated.
</p>
<br/>
<h2>Movement</h2>
<h3>Basic moves</h3>
<p>
  Each type of chess piece has its own method of movement. A piece moves to a vacant square except when capturing an opponent's piece.
</p>
<p>
  Except for any move of the knight and castling, pieces cannot jump over other pieces. A piece is captured (or taken) when an attacking enemy piece replaces it on its square (<i>en passant</i> is the only exception). The captured piece is thereby permanently removed from the game. The king can be put in check but cannot be captured.
</p>
<p>
  The king moves exactly one square horizontally, vertically, or diagonally. A special move with the king known as castling is allowed only once per player, per game.
</p>
<p>
  A rook moves any number of vacant squares in a horizontal or vertical direction. It also is moved when castling.
</p>
<p>
  A bishop moves any number of vacant squares in any diagonal direction.
</p>
<p>
  The queen moves any number of vacant squares in a horizontal, vertical, or diagonal direction.
</p>
<p>
  A knight moves to the nearest square not on the same rank, file, or diagonal. (This can be thought of as moving two squares horizontally then one square vertically, or moving one square horizontally then two squares vertically—i.e. in an "L" pattern.) The knight is not blocked by other pieces: it jumps to the new location.
</p>
<p>
  Pawns have the most complex rules of movement:
  <ul>
    <li>
      A pawn moves straight forward one square, if that square is vacant. If it has not yet moved, a pawn also has the option of moving two squares straight forward, provided both squares are vacant. Pawns cannot move backwards.
    </li>
    <li>
      Pawns are the only pieces that capture differently from how they move. A pawn can capture an enemy piece on either of the two squares diagonally in front of the pawn (but cannot move to those squares if they are vacant).
    </li>
  </ul>
  The pawn is also involved in the two special moves <i>en passant</i> and <i>promotion</i>.
</p>

<h3>Castling</h3>
<p>
  Castling consists of moving the king two squares towards a rook, then placing the rook on the other side of the king, adjacent to it. Castling is only permissible if all of the following conditions hold:
  <ul>
    <li>
      The king and rook involved in castling must not have previously moved;
    </li>
    <li>
      There must be no pieces between the king and the rook;
    </li>
    <li>
      The king may not currently be in check, nor may the king pass through or end up in a square that is under attack by an enemy piece (though the rook is permitted to be under attack and to pass over an attacked square);
    </li>
    <li>
      The king and the rook must be on the same rank.
    </li>
  </ul>
</p>

<h3>En passant</h3>
<p>
  If a white pawn moves forward two squares and Black has a pawn on the fourth ranke on an adjacent file, Black can capture White's pawn as if the white pawn had moved only one square. This capture can be made only on the immediately subsequent move.
</p>

<h3>Pawn promotion</h3>
<p>
  If a player advances a pawn to its eighth rank, the pawn is then promoted (converted) to a queen, rook, bishop, or knight of the same color at the choice of the player (a queen is usually chosen). The choice is not limited to previously captured pieces. Hence it is theoretically possible for a player to have up to nine queens or up to ten rooks, bishops, or knights if all of their pawns are promoted. If the desired piece is not available, the player should call the arbiter to provide the piece.
</p>

<h3>Check</h3>
<p>
  A king is in check when it is under attack by at least one enemy piece. A piece unable to move because it would place its own king in check (it is pinned against its own king) may still deliver check to the opposing player.
</p>
<p>
  A player may not make any move which places or leaves his king in check. The possible ways to get out of check are:
  <ul>
    <li><b>Move</b> the king to a square where it is not threatened.</li>
    <li><b>Capture</b> the threatening piece (possibly with the king).</li>
    <li><b>Block</b> the check by placing a piece between the king and the opponent's threatening piece</li>
  </ul>
</p>
<p>
  If it is not possible to get out of check, the king is checkmated and the game is over.
</p>