<div>
  The correct entry format: r1f1->r2f2
</div>

<%= form_for @move do |f| %>
    <div class="field">
      <%= f.label :from_to %><br>
      <%= f.text_field :from_to %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>