<% content_for :head do %>
    <%= tag :meta, :name => "state", :content => @state.to_json %>
    <%= tag :meta, :name => "turn", :content => current_user_color(@game)%>
<% end %>
<h1><%=@move.move_to_description() %></h1>

<div>
  <canvas id="chess" width="800" height="800"></canvas>
  <script>draw();</script>
</div>

<%= link_to 'Back', moves_path(game_id: @game.id) %>
